In [22]:
import mysql.connector as connector
print("MySQL Connector/Python API is imported successfully.\n")
print("Establishing a new connection between MySQL and Python.")
connection=connector.connect(user="user00", password="Winter2023!", db="Little Lemon_DB")
print("A connection between MySQL and Python is successfully established")

MySQL Connector/Python API is imported successfully.

Establishing a new connection between MySQL and Python.
A connection between MySQL and Python is successfully established

In [23]:
cursor = connection.cursor(connection)

In [24]:
show_tables_query = "SHOW tables"
results = cursor.execute(show_tables_query)

In [25]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

Address
Booking
Customer
Delivery
Menu
Menu_View
Orders
Orders_View
Staff

In [30]:
customer_join_query = '''
        SELECT
            Customer.CustomerName AS FullName,
            Customer.CustomerEmail AS Email,
            Customer.CustomerPhone AS PhoneNumber,
            Address.Street AS Address,
            Address.City AS City,
            Address.State AS State,
            Orders.TotalCost AS Cost
        FROM Customer 
        JOIN Address 
            USING (CustomerID)
        JOIN Orders 
            USING (CustomerID)
        WHERE Orders.TotalCost > 60
        ORDER BY Orders.TotalCost DESC;'''

In [31]:
cursor.execute(customer_join_query)

In [32]:
customers = cursor.fetchall()

In [44]:
print(f'There are {len(customers)} customers with more than $60 of spending...')
print('Printing the top 10 spenders...')

for customer in customers[:10]:
    print('=' * 50)
    print(f'Full Name: \t {customer[0]}')
    print(f'Email: \t\t {customer[1]}')
    print(f'Phone Number: \t {customer[2]}')
    print(f'Address: \t {customer[3]}')
    print(f'City: \t\t {customer[4]}')
    print(f'State: \t\t {customer[5]}')
    print(f'Has spent: \t {float(customer[6])}')

There are 5 customers with more than $60 of spending...
Printing the top 10 spenders...
==================================================
Full Name: 	 Kevin Gates
Email: 		 lucabrasi@icloud.com
Phone Number: 	 8018970002
Address: 	 111 MLK Blvd
City: 		 Baton Rogue
State: 		 LA
Has spent: 	 6789.1
==================================================
Full Name: 	 Kentrell Gaulden
Email: 		 neverbrokeagain@yahoo.com
Phone Number: 	 5040380004
Address: 	 3800 Salt Lake Drive
City: 		 Salt Lake City
State: 		 UT
Has spent: 	 3456.78
==================================================
Full Name: 	 Megan Pete
Email: 		 hotgirl@icloud.com
Phone Number: 	 8172030005
Address: 	 17 Hottie Cove
City: 		 Houston
State: 		 TX
Has spent: 	 1234.56
==================================================
Full Name: 	 Frank Lucas
Email: 		 franklucas@gmail.com
Phone Number: 	 6157890001
Address: 	 555 Main Street
City: 		 New York
State: 		 NY
Has spent: 	 1110.45
==================================================
Full Name: 	 Jermaine Shutes
Email: 		 allstar@gmail.com
Phone Number: 	 6156090003
Address: 	 233 Jefferson Street
City: 		 Nashville
State: 		 TN
Has spent: 	 567.89